.badge {
    width: 4in;
    height: 6in;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    box-shadow: 0 0.0625in 0.125in rgba(0,0,0,0.1);
    margin: 0.3125in auto;
    /* page-break-after: avoid;
    page-break-inside: avoid; */
  }
  
  .logo-area {
    height: 1.5in;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25in;
    background-color: white;
  }
  
  .event-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .badge-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.25in;
    background-color: white;
  }
  
  .name {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    color: black;
  }
  
  .job-title, .company {
    font-size: 24px;
    margin: 5px 0;
    text-align: center;
    color: black;
  }
  
  .attendee-status {
    background-color: #D32F2F;
    color: white;
    text-align: center;
    padding: 0.25in;
    font-size: 24px;
    font-weight: bold;
  }

  .speaker-status {
    background-color: green;
    color: white;
    text-align: center;
    padding: 0.25in;
    font-size: 24px;
    font-weight: bold;
  }

  .speaker-status p {
    margin: 0;
  }

  .attendee-status p {
    margin: 0;
  }

  @page {
    size: 4in 6in;
    margin: 0;
  }
  
  @media print {
    html, body {
      min-height: auto;
      width: 4in;
      height: 6in;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    .badge {
      margin: 0;
      box-shadow: none;
    }
  }